# Loading Document Politics One

In [1]:
import re

#opening the file
file = open('politics_one.txt', 'r')

#reading the file contents
file_read = file.read()

#splitting the contents on spaces
word_list = file_read.split()

#closing the file
file.close()

politics_one_words = list()

for word in word_list:
    
    #cleaning the special characters in each word
    word = re.sub('\W+','', word)
    
    if word not in politics_one_words:
        
        #appending unique words to a list
        politics_one_words.append(word)
        
len(politics_one_words)

664

# Loading Document Politics Two

In [2]:
file = open('politics_two.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

politics_two_words = list()

for word in word_list:
    
    word = re.sub('\W+','', word)
    
    if word not in politics_two_words:
        politics_two_words.append(word)
        
len(politics_two_words)

489

# Loading Document Shooting One

In [3]:
file = open('shooting_one.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

shooting_one_words = list()

for word in word_list:
    
    word = re.sub('\W+','', word)
    
    if word not in shooting_one_words:
        shooting_one_words.append(word)
        
len(shooting_one_words)

246

# Loading Document Shooting Two

In [4]:
file = open('shooting_two.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

shooting_two_words = list()

for word in word_list:
    
    word = re.sub('\W+','', word)
    
    if word not in shooting_two_words:
        shooting_two_words.append(word)
        
len(shooting_two_words)

305

# Loading Document Shooting Three

In [5]:
file = open('shooting_three.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()
shooting_three_words = list()


for word in word_list:
    
    word = re.sub('\W+','', word)
    
    if word not in shooting_three_words:
        shooting_three_words.append(word)
        
len(shooting_three_words)

223

# Taking Union of All the Unique word lists from all the documents

In [6]:
#forming a list of words that contains all of the unique words in all documents
final_word_list = list(set().union(politics_one_words, politics_two_words, shooting_one_words, shooting_two_words,
                                   shooting_three_words))

In [7]:
len(final_word_list)

1422

In [8]:
#sorting the words
final_word_list = sorted(final_word_list)

# Calculating Term Frequency

In [9]:
'''
    Politics One
    
'''

file = open('politics_one.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

tf_politics_one = list()

#calculating the number of times each word appears in a document
for word in final_word_list:
    count = 0
    
    for word_two in word_list:
        
        if word == word_two:
            count += 1
    
    tf_politics_one.append(count) 
        
len(tf_politics_one)

1422

In [10]:
'''
    Politics Two
    
'''

file = open('politics_two.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

tf_politics_two = list()

for word in final_word_list:
    count = 0
    for word_two in word_list:
        
        if word == word_two:
            count += 1
    
    tf_politics_two.append(count) 
        
len(tf_politics_two)

1422

In [11]:
'''
    Shooting One
    
'''

file = open('shooting_one.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

tf_shooting_one = list()

for word in final_word_list:
    count = 0
    for word_two in word_list:
        
        if word == word_two:
            count += 1
    
    tf_shooting_one.append(count) 
        
len(tf_shooting_one)

1422

In [12]:
'''
    Shooting Two
    
'''

file = open('shooting_two.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

tf_shooting_two = list()

for word in final_word_list:
    count = 0
    for word_two in word_list:
        
        if word == word_two:
            count += 1
    
    tf_shooting_two.append(count) 
        
len(tf_shooting_two)

1422

In [13]:
'''
    Shooting Three
    
'''

file = open('shooting_three.txt', 'r')

file_read = file.read()
word_list = file_read.split()

file.close()

tf_shooting_three = list()

for word in final_word_list:
    count = 0
    for word_two in word_list:
        
        if word == word_two:
            count += 1
    
    tf_shooting_three.append(count) 
        
len(tf_shooting_three)

1422

# Calculating Inverse Document Frequency

In [14]:
import math

idf_words = list()

#calculating the number of documents in which each word appears
for word in final_word_list:
    count = 0
    
    if word in politics_one_words:
          count += 1
    
    if word in politics_two_words:
          count += 1
    
    if word in shooting_one_words:
          count += 1
            
    if word in shooting_two_words:
          count += 1
            
    if word in shooting_three_words:
          count += 1
    
    '''
        calculating 'log(N/D)' of each word,
        where, 'D' is the number of documents in which each word appears
        and, 'N' is the total number of documents
    '''
    idf_words.append(math.log(5/count))

# Calculating TF-IDF of Each Document

In [15]:
p1_tf_idf = list()
p2_tf_idf = list()
s1_tf_idf = list()
s2_tf_idf = list()
s3_tf_idf = list()

#finally multiplyinh tf with idf
for i in range(len(final_word_list)):
    
    p1_tf_idf.append(tf_politics_one[i] * idf_words[i])
    
    p2_tf_idf.append(tf_politics_two[i] * idf_words[i])
    
    s1_tf_idf.append(tf_shooting_one[i] * idf_words[i]) 
    
    s2_tf_idf.append(tf_shooting_two[i] * idf_words[i]) 
    
    s3_tf_idf.append(tf_shooting_three[i] * idf_words[i])

# Creating a Table for Visualization

In [16]:
import pandas as pd

#creating a dataframe/table with all the words as columns
df = pd.DataFrame(columns = final_word_list)

In [17]:
list_of_series = [pd.Series(p1_tf_idf, index = df.columns),
               pd.Series(p2_tf_idf, index = df.columns),
               pd.Series(s1_tf_idf, index = df.columns),
               pd.Series(s2_tf_idf, index = df.columns),
               pd.Series(s3_tf_idf, index = df.columns)]

#filling the table with the tf-idf of each word for each document
df = df.append(list_of_series)

In [18]:
df

,,1,10,100,11,12,15,17,18,1986,...,would,wouldnt,wounded,wrote,year,years,yet,you,your,yourself
0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.916291,0.000000,0.0,...,1.021651,0.0,0.000000,0.000000,3.064954,0.000000,0.000000,0.223144,0.916291,0.000000
1,0.0,0.000000,4.828314,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,1.532477,0.0,0.000000,1.609438,0.000000,0.510826,0.000000,0.223144,0.000000,0.000000
2,0.0,0.000000,0.000000,0.000000,0.0,1.609438,1.609438,0.000000,0.000000,0.0,...,0.510826,0.0,0.916291,0.000000,0.000000,0.510826,0.000000,0.000000,0.000000,0.000000
3,0.0,1.609438,0.000000,0.916291,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.916291,0.000000,0.000000,0.000000,0.916291,0.223144,0.000000,1.609438
4,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2.748872,1.609438,0.0,...,0.000000,0.0,0.000000,0.000000,0.510826,0.000000,0.000000,0.223144,0.916291,0.000000

In [19]:
df.insert(0, 'Documents', ['Politics One', 'Politics Two', 'Shooting One', 'Shooting Two', 'Shooting Three' ])

In [20]:
df

,Documents,,1,10,100,11,12,15,17,18,...,would,wouldnt,wounded,wrote,year,years,yet,you,your,yourself
0,Politics One,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.916291,0.000000,...,1.021651,0.0,0.000000,0.000000,3.064954,0.000000,0.000000,0.223144,0.916291,0.000000
1,Politics Two,0.0,0.000000,4.828314,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,1.532477,0.0,0.000000,1.609438,0.000000,0.510826,0.000000,0.223144,0.000000,0.000000
2,Shooting One,0.0,0.000000,0.000000,0.000000,0.0,1.609438,1.609438,0.000000,0.000000,...,0.510826,0.0,0.916291,0.000000,0.000000,0.510826,0.000000,0.000000,0.000000,0.000000
3,Shooting Two,0.0,1.609438,0.000000,0.916291,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.916291,0.000000,0.000000,0.000000,0.916291,0.223144,0.000000,1.609438
4,Shooting Three,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2.748872,1.609438,...,0.000000,0.0,0.000000,0.000000,0.510826,0.000000,0.000000,0.223144,0.916291,0.000000

# Applying 1-NN and 2-NN

In [21]:
p1_distance = 0
p2_distance = 0
s1_distance = 0
s2_distance = 0

for i in range(len(final_word_list)):
    
    #taking euclidean distance between Shooting Three and the rest of the Documents
    p1_distance += math.pow((s3_tf_idf[i] - p1_tf_idf[i]), 2)
    
    p2_distance += math.pow((s3_tf_idf[i] - p2_tf_idf[i]), 2)
    
    s1_distance += math.pow((s3_tf_idf[i] - s1_tf_idf[i]), 2)
    
    s2_distance += math.pow((s3_tf_idf[i] - s2_tf_idf[i]), 2)

In [22]:
#square root the final answers as per euclidean distance formula
p1_distance = math.sqrt(p1_distance)
p2_distance = math.sqrt(p2_distance)
s1_distance = math.sqrt(s1_distance)
s2_distance = math.sqrt(s2_distance)

In [23]:
#distance of Shooting Three document with Politics One
p1_distance

62.959298829827674

In [24]:
#distance of Shooting Three document with Politics Two
p2_distance

52.924533371681

In [25]:
#distance of Shooting Three document with Shooting One
s1_distance

34.057206735413835

In [26]:
#distance of Shooting Three document with Shooting Two
s2_distance

31.98300000937539

# Conclusion 

    We Can see that 1-nearest neighbour of test document "Shooting Three" is "Shooting Two" document and
    2-nearest neighbour of test document "Shooting Three" is "Shooting Two" document and "Shooting One"
    document. Thus, we can form the following two clusters:-
    
    Cluster One = ['Politics One', 'Politics Two'] 
    
    Cluter Two =  ['Shooting One', 'Shooting Two', 'Shooting Three']